body {
  background-color: black;
  color: white;
}

h1.solid {
  border-color: white;
  border-style: solid;
  width: 200px;
}

p {
  background-color: white;
  font-size: 12px;
  color: green;
}
#rcorners1 {
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 200px;
}
div.dotted {
  border-style: dotted;
  border-width: 5px;
  height: 100px;
  width: 100px;
}

ul.a {
  list-style-type: square;
}
ol.b {
  list-style-type: upper-alpha;
}
